:root {
  --lightGreen: #bad1cd;
  --white: #ffffff;
  --black: #121212;
}
.nav {
  width: 100%;
  background-color: var(--lightGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navele {
  display: flex;

  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--lightGreen);
  max-width: 1700px;
  padding: 20px;
  z-index: 1000;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar input {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: 0px;
}
.searchBar input:focus {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.145);
}
.searchBar a {
  background: var(--black);

  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}
.searchBar a img {
  background: var(--black);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.loginSign a {
  padding: 5px;

  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: 600;
}
.login {
  color: var(--black);
}
.signin {
  background: var(--black);
  color: var(--white);
  border-radius: 10px;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.029);
}
.fixed {
  position: fixed !important;
  top: 0 !important;
  z-index: 100 !important;
  background-color: #fff;
}
.fixed2 {
  position: fixed !important;

  z-index: 100 !important;
  background-color: #fff;
}
.navele2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1700px;
  width: 100%;

  background-color: rgb(255, 255, 255);
  font-size: large;
  position: relative;
}
.navele2 img {
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburgerExt {
  position: absolute;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.048);
  width: 25%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  background: var(--lightGreen);
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
  z-index: 100;
}
.hamburgerExt a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}
.slideIn {
  opacity: 1 !important;
  left: 0 !important;
}
.hamburger {
  display: none;
}
.navele2 a {
  color: var(--black);
  text-decoration: none;
}
@media screen and (max-width: 740px) {
  .navele {
    flex-direction: column;
  }
  .navele2 a {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 900px) and (min-width: 450px) {
  .navele {
    padding: 10px;
    justify-content: space-around;
  }
  .logo {
    margin: 10px;
  }
  .searchBar {
    margin: 10px;
  }
  .loginSign {
    margin: 10px;
  }
  .searchBar input {
    padding: 5px;
    font-size: 15px;
    padding-left: 15px;
  }
  .hamburgerExt {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .navele2 h5 {
    display: none;
  }
  .hamburgerExt {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .navele {
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo {
    margin: 10px;
  }
  .searchBar {
    margin: 10px;
  }
  .loginSign {
    margin: 10px;
    font-size: 17px;
  }
  .searchBar input {
    padding: 5px;
    font-size: 15px;
    padding-left: 15px;
    width: 250px;
    height: 40px;
  }
  .hamburgerExt {
    width: 50%;
  }
}
.login {
  margin: 0 !important;
}
.loginSign {
  display: flex;
}

.bar3 img {
  margin-left: 10px;
  cursor: pointer;
}
